:root {
  --red: #F06A4D;
  --purple: #9873FF;
  --light-grey: #C8C5D1;
  --light-grey-opacity: rgba(200, 197, 209, 0.5);
  --dark-grey: #B0B0B0;
  --black: #333;
  --white: #fff;
  --white-smoke: #F5F5F5;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

/* visually-hidden */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--black);
  background-color: var(--white-smoke);
}

.btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  user-select: none;
}

.scroll-lock {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1024px;
}

.container--header {
  display: flex;
  align-items: center;
}

.header {
  margin-bottom: 40px;
  padding: 20px 0;
  background-color: var(--white);
  box-shadow:  0 3.3862948417663574px 5.643825054168701px 0 rgba(176, 190, 197, 0.32), 0 9.030119895935059px 27.09035873413086px 0  rgba(176, 190, 197, 0.32);
}

.header__logo {
  margin-right: 53px;
}

.header__search {
  padding: 13px 16px;
  min-width: 581px;
  border: 1px solid rgba(51, 51, 51, 0.2);
}

.header__search::placeholder {
  font-family: inherit;
  font-size: 14px;
  color: var(--dark-grey);
}

.title {
  margin: 0 0 26px 0;
  font-size: 24px;
}

/* таблица */
.table {
  width: 100%;
}

.table__column {
  text-align: left;
}

.table__column-btn {
  padding: 8px 20px;
  width: 100%;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  color: var(--dark-grey);
}

.table__column-btn.is-active {
  color: var(--purple);
}

.table__body {
  min-height: 300px;
  background-color: var(--white);
}

.table__body tr {
  border-bottom: 1px solid var(--light-grey-opacity);
}

.table__body td {
  padding: 10px;
  min-height: 60px;
}

.table__body td:first-child {
  padding-left: 20px;
}

.table__body td:last-child {
  display: flex;
  gap: 30px;
  padding-right: 20px;
}

.table__body-column--id {
  font-size: 12px;
  line-height: 16px;
  color: var(--dark-grey);
}

.contacts__list {
  display: flex;
  gap: 7px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.table__body-time {
  display: inline-block;
  margin-left: 10px;
  color: var(--dark-grey);
}

.tooltip {

}

.table__body-button {
  display: flex;
  align-items: center;
  gap: 2px;
}

/* модальные окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba(var(--black), 0.6);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out, visibility 0.6s ease-in-out;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal--no-scale {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.modal.is-active {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.modal__wrapper {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 60px 40px;
}

.modal__content {
  position: relative;
  width: 500px;
  padding: 24px 15px 25px;
  background-color: #fff;
}

.modal--fit-content .modal__content {
  width: auto;
}

.modal__close-btn {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 1;
  width: 40px;
  height: 40px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.contacts__item--hidden {
  display: none;
}



.required-input {
  position: relative;
}

.required-input input::placeholder {
  color: red; /* Цвет звездочки */
}

.required-input::before {
  content: '*';
  color: red; /* Цвет звездочки */
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
