:root {
  --red: #F06A4D;
  --perfume: #B89EFF;
  --purple: #9873FF;
  --light-slate-blue: #7B61FF;
  --light-grey: #C8C5D1;
  --light-grey-opacity: rgba(200, 197, 209, 0.3);
  --dark-grey: #B0B0B0;
  --black: #333;
  --white: #FFF;
  --white-smoke: #F5F5F5;
  --mercury: #E7E5EB;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

/* visually-hidden */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--black);
  background-color: var(--white-smoke);
}

.btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  user-select: none;
}

.scroll-lock {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1024px;
}

.container--header {
  display: flex;
  align-items: center;
}

.header {
  margin-bottom: 40px;
  padding: 20px 0;
  background-color: var(--white);
  box-shadow:  0 3.3862948417663574px 5.643825054168701px 0 rgba(176, 190, 197, 0.32), 0 9.030119895935059px 27.09035873413086px 0  rgba(176, 190, 197, 0.32);
}

.header__logo {
  margin-right: 53px;
}

.header__search {
  padding: 13px 16px;
  min-width: 581px;
  border: 1px solid rgba(51, 51, 51, 0.2);
}

.header__search::placeholder {
  font-family: inherit;
  font-size: 14px;
  color: var(--dark-grey);
}

.title {
  margin: 0 0 26px 0;
  font-size: 24px;
}

/* таблица */
.table {
  margin-bottom: 40px;
  width: 100%;
}

.table__column {
  text-align: left;
  vertical-align: bottom;
}

.table__column-btn {
  display: block;
  padding: 8px 10px;
  width: 100%;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  color: var(--dark-grey);
}

.table__column:first-child .table__column-btn {
  padding-left: 20px;
}

.table__column-btn.is-active {
  color: var(--purple);
}

.table__body {
  min-height: 300px;
  background-color: var(--white);
}

.table__body tr {
  border-bottom: 1px solid var(--light-grey-opacity);
}

.table__body td {
  padding: 10px;
  min-height: 60px;
}

.table__body td:first-child {
  padding-left: 20px;
}

.table__body td:last-child {
  display: flex;
  gap: 30px;
  padding-right: 20px;
}

.table__body-column--id {
  font-size: 12px;
  line-height: 16px;
  color: var(--dark-grey);
}

.contacts__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 7px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.table__body-time {
  display: inline-block;
  margin-left: 10px;
  color: var(--dark-grey);
}

.table__body-button {
  display: flex;
  align-items: center;
  gap: 2px;
  transition: color 0.3s ease-in-out;
}

.table__body-button--edit:hover {
  color: var(--purple);
}

.table__body-button--delete:hover {
  color: var(--red);
}

/* модальные окна */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out, visibility 0.6s ease-in-out;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal--no-scale {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.modal.is-active {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.6);
  cursor: pointer;
}

.modal__wrapper {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 60px 40px;
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 450px;
  padding: 24px 30px 29px;
  background-color: var(--white);
}

.modal--fit-content .modal__content {
  width: auto;
}

.modal__container {
  position: relative;
}

.modal__container--required .modal__label::after {
  content: '*';
  color: var(--purple);
}

.modal__label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  color: var(--dark-grey);
  transition: font-size 0.3s ease-in-out, top 0.3s ease-in-out;
}

.modal__input {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0 0 5px 0;
  width: 100%;
  line-height: 19px;
  border: none;
  border-bottom: 1px solid var(--light-grey);
  outline: none;
  background-color: transparent;
}

.modal__input:not(:placeholder-shown) + .modal__label,
.modal__input:focus + .modal__label {
  font-size: 10px;
  top: -16px;
}

.modal__contacts-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 4px;
  padding: 2px 5px;
  font-size: 14px;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.modal__contacts-btn svg circle,
.modal__contacts-btn svg g {
  transition: fill 0.3s ease-in-out;
}

.modal__contacts-btn:hover {
  color: var(--purple);
}

.modal__contacts-btn:hover svg circle {
  fill: var(--purple);
}

.modal__contacts-btn:hover svg g {
  fill: var(--white);
}

.modal__inner + .modal__contacts-btn {
  margin-top: 10px;
  margin-bottom: 17px;
}

.modal__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  width: 29px;
  height: 29px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal__close-btn svg {
  position: absolute;
  top: 50%;
  width: 17px;
  height: 17px;
  transform: translate(50%, -50%);
}

.modal__title {
  align-self: flex-start;
  margin: 0 0 32px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.modal__title--delete {
  align-self: center;
  margin-bottom: 11px;
}

.modal__message {
  margin: 0 0 25px 0;
  text-align: center;
  max-width: 65%;
  font-size: 14px;
  line-height: 20px;
}

.modal__btn {
  align-self: center;
  margin-bottom: 6px;
  padding: 13px 35px;
  color: var(--white);
  font-weight: 600;
  background-color: var(--purple);
  transition: background-color 0.3s ease-in-out;
}

.modal__btn:hover,
.modal__btn:focus-visible {
  background-color: var(--perfume);
}

.modal__btn:active {
  background-color: var(--light-slate-blue);
}

.modal__cancel-btn {
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
}

.modal__cancel-btn:hover,
.modal__cancel-btn:focus-visible {
  text-decoration: none;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__fieldset {
  margin: 0 0 25px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border: none;
}

.modal__fieldset--contacts {
  position: relative;
  gap: 15px;
  padding: 8px 0;
  background-color: var(--light-grey-opacity);
}

.modal__fieldset--contacts::after,
.modal__fieldset--contacts::before {
  content: "";
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  background-color: var(--light-grey-opacity);
}

.modal__fieldset--contacts::after {
  right: -30px;
}

.modal__fieldset--contacts::before {
  left: -30px;
}

.contacts__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--purple);
  cursor: pointer;
}

.contacts__item:hover {
  color: var(--light-slate-blue);
}

.contacts__item:hover svg path {
  fill: currentColor;
}

.contacts__item:hover .phone circle {
  fill: currentColor;
}

.contacts__item:hover .phone path {
  fill: var(--white);
}

.contacts__item--hidden {
  display: none;
}

.contacts__item .tooltip {
  position: absolute;
  z-index: 1;
  bottom: 130%;

  padding: 7px 14px;
  visibility: hidden;

  background: var(--black);
  color: var(--white);
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
}

.contacts__item::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--black) transparent transparent transparent;

  visibility: hidden;
}

.contacts__item:focus::after,
.contacts__item:hover::after {
  visibility: visible;
}

.contacts__item:focus .tooltip,
.contacts__item:hover .tooltip {
  visibility: visible;
}

.tooltip {
  cursor: default;
}

.tooltip__link {
  color: var(--perfume);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.tooltip__link:hover {
  color: var(--purple);
}

.main__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 11px 26px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: var(--purple);
  border: 1px solid var(--purple);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.main__btn svg path {
  transition: fill 0.3s ease-in-out;
}

.main__btn:hover,
.main__btn:focus-visible {
  color: var(--white);
  background-color: var(--perfume);
}

.main__btn:active {
  color: var(--white);
  background-color: var(--light-slate-blue);
  border-color: var(--light-slate-blue);
}

.main__btn:hover svg path,
.main__btn:focus-visible svg path,
.main__btn:active svg path {
  fill: var(--white);
}

.modal__inner {
  position: relative;
  display: grid;
  grid-template-columns: 31.5% 1fr;
  min-height: 37px;
  min-width: 100%;
}

.modal__inner:first-of-type {
  margin-top: 17px;
}

.modal__contact-btn {
  position: absolute;
  right: 0;
  min-height: 100%;
  padding: 9px 6px 8px 7px;
  border: 1px solid var(--light-grey);
  background-color: var(--mercury);
  transition: all 0.3s ease-in-out;
}

.modal__contact-btn-wrapper {
  position: absolute;
  right: 0;
  bottom: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: translateY(50%);
}

.modal__contact-btn-wrapper::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -13px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--black) transparent transparent transparent;
  visibility: hidden;
  transition: visibility 0.3s ease-in-out;
}

.modal__contact-btn-wrapper .tooltip {
  position: absolute;
  z-index: 1;
  bottom: 90%;
  right: -50px;
  padding: 7px 14px;
  visibility: hidden;
  background: var(--black);
  color: var(--white);
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transition: visibility 0.3s ease-in-out;
}

.modal__contact-btn-wrapper:focus::after,
.modal__contact-btn-wrapper:hover::after {
  visibility: visible;
}

.modal__contact-btn-wrapper:focus .tooltip,
.modal__contact-btn-wrapper:hover .tooltip {
  visibility: visible;
}

.modal__contact-btn  svg path {
  fill: var(--light-grey);
  transition: all 0.3s ease-in-out;
}

.modal__contact-btn:hover svg path {
  fill: var(--red);
}

.modal__contact-btn:hover {
  border-color: var(--red);
}

.modal__select-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  min-height: 100%;
  padding: 8px 9px 8px 12px;
  border: 1px solid var(--light-grey);
  background-color: var(--mercury);
}

.modal__select-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.modal__contact-input {
  padding-right: 30px;
  padding-left: 12px;
  font-size: 14px;
  color: var(--dark-grey);
  border: 1px solid var(--light-grey);
  background-color: transparent;
  box-shadow: none;
}

.modal__contact-input:focus-visible {
  outline-offset: 2px;
}

.modal__list {
  position: absolute;
  list-style: none;
}
